<div class="jumbotron center bkgcolor">
  <h1 class="display-4 center textcolor">Burger App</h1>
  <img  src="./photos/burger.png" alt="burger">
  <p class="lead center textcolor">Create your dream burger.... then devour it!!</p>
</div>
<div class="container bkgcolor radius">
  <div class="row">
    <div class="col-md-12">
      <form>
        <div class="form-group">
          <label class="textcolor" for="product">What is the burger's name?</label>
          <input type="text" class="form-control" id="product">
        </div>
        
        <button type="submit" id="addBurger" class="btn btn-warning">Add Burger</button>
      </form>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <ul id="notPurchased" class="list-group">
        <h2 class="textcolor">To Be Devoured</h2>
        {{#each burgers}}
        {{#unless this.purchased}}
        <li id="{{ this.id }}" class="list-group-item">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ this.name }}</h5>
            <button data-name="{{ this.name }}" 
              class="purchase btn btn-warning">Devour It!</button>
          </div>
          
        </li>
        {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="col-md-6">
      <ul id="purchased" class="list-group botmar">
        <h2 class="textcolor">Devoured</h2>
        {{#each burgers}}
        {{#if this.purchased}}
        <li id="{{ this.id }}" class="list-group-item">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ this.name }}</h5>
          </div>
         
        </li>
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>